.firstview {
  width: 100vw;
  height: auto;
}
.firstview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about {
  background-color: black;
}

.box {
  max-width: 1000px;
  padding-block: 120px;
  padding-inline: 1rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.box p {
  color: white;
}
